.navbar .btn-success {
    margin-right: 10px;
  }
  
  .navbar .fa-gear {
    margin-left: 10px;
  }

  .fa-gear{
    margin-right: 10px;
  }

  .dropdown-menu {
    left: -90px;
}
.gallery-view .col {
    flex: 1 0 33%;
    max-width: 33%;
    padding: 10px;
}
.feed-view .col {
    flex: 1 0 100%;
    max-width: 100%;
    padding-inline: 300px;
}
.img-thumbnail {
    width: 100%;
    max-height:100%;
    height: auto;
}
.card {
    display: none; /* Hide cards by default */
    margin-bottom: 20px;
}
.feed-view .card {
    display: block; /* Show cards in feed view */
}
.gallery-view .thumbnail {
    display: block; /* Show thumbnails in gallery view */
}
.feed-view .thumbnail {
    display: none; /* Hide thumbnails in feed view */
}
.thumbnail img{
    width: 350px;
    height: 350px;
    object-fit: cover; }

.card-img-top{
    object-position: 50% top;
    object-fit: cover;
    height: 500px;
    padding: 10px;
}
.superBox{
    width: 100%;    
}